#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;

  .info {
    text-align: left;

    .title {
      font-weight: 600;
      color: blueviolet;
      text-decoration: underline;
    }
  }

  img {
    width: 100px;
  }
}